@import '../../../public/assets/scss/variables.scss';

Footer {
  margin: 0 auto;
  background-color: $primary-dark;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  height: 5rem;
  padding: 0 20px;
  margin: 0 auto;
  color: white;
  font-size: 1.4rem;
}

.linksContainer {
  display: flex;
  justify-content: center;
  gap: 5%;
  flex-grow: 1;
}

.iconRss {
  width: 100px;
  height: 60px;
  background-image: url(../../../public/assets/svg/rs-school.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.iconGithub {
  width: 40px;
  height: 40px;
  background-image: url(../../../public/assets/svg/github-white.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.linkGithub {
  display: inline-block;
}

.itemContainer {
  display: flex;
  gap: 10px;
}

