
.container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 4px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightskyblue;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: lightskyblue;
}

input:focus + .slider {
  box-shadow: 0 0 0.063rem lightskyblue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

.slider.round {
  border-radius: 35px;
}

.slider.round:before {
  border-radius: 50%;
}

.lang {
  //padding-bottom: 2px;
  font-size: 1.4rem;
}