@import '../../scss/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  
  @media(max-width: 768px) {
    padding: 10px 10px 20px;
  }
}

.boardsContainer {
  display: flex;
  height: 70vh;
  width: 100%;
  padding: 1rem;
  overflow-y: auto;

  &::-webkit-scrollbar {
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: transparent;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    height: 5px;
    background: linear-gradient(180deg, $primary-main, $primary-light);
  }

  @media(max-width: 768px) {
    padding: 10px 0 20px;
  }
}

.nameWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  height: 5rem;

  @media(max-width: 768px) {
    padding: 10px 0 20px;
  }
}

.columnList {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  gap: 1rem;
}

.btnName {
  @media(max-width: 768px) {
    display: none;
  }
}