.board__main-container {
  height: calc(100vh - 15rem);
  width: auto;
  padding: 1rem;
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: auto;
}

.board_name__wrapper {
  padding: 1rem;
  height: 5rem;
}

.columnList {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}