.task {

  &__container {
    margin: 1rem;
    padding: 0;
    padding-bottom: 0;
    border: 1px solid lightgray;
    background-color: lightgray;
  }

  &__h2 {
    margin-left: 5px;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: lightgray;
  }
  
};

.description {
  width: 100%;
  height: 100px;
  overflow-x: auto;
  background-color: white;
  margin: 0;
  padding: 5px;
  text-align: justify;

  &::-webkit-scrollbar {
    display: none;
  }
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.addTaskContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  width: 300px;
  max-width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  
  @media(max-width: 499px) {
      width: 98%;
      padding: 10px;
  }
}
