@import '../../scss/variables.scss';

header {
  position: sticky;
  padding: 0 20px;
}

.appbar{
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;

  @media(max-width: 768px) {
    height: 3rem;
    align-items: flex-start;
  }
}

.mainPageLink {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-left: auto;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  max-width: 1280px;
  padding: 0;

  @media(max-width: 768px) {
    flex-direction: column;
    justify-content: flex-start;
    background-color: $primary-dark;
    row-gap: 2rem;
    padding: 5rem 2rem;
    height: 100vh;
  }
}

.toolbarItem {
  display: flex;
  width: fit-content;
  height: 100%;
  gap: 15px;
  margin: 0;
  align-items: center;


  @media(max-width: 768px) {
    height: 2rem;
  }
}

.toolbarItemText {
  margin-top: 50%;
}

.btn {
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0;
  padding-right: 3px;
  border-radius: 0;
}

.icon {
  margin-right: 0.5rem;
}