@import '../../scss/variables.scss';

.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  width: 100%;
  min-height: calc(100vh - 7rem);
  margin: 0 auto;
}

.mainContainer  {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  min-width: none;
  height: calc(100vh - 7rem);
  height: 100%
};