.error {
  min-height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error_message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.return {
  text-decoration: none;
}